Django==5.1.6
black==25.1.0
django-cors-headers==4.7.0
crispy-bootstrap5==2024.10
django-debug-toolbar==5.0.1
django-extensions==3.2.3
django-filter==25.1
django-storages==1.14.5
django-taggit==6.1.0
django-waffle==4.2.0
django-widget-tweaks==1.5.0
djangorestframework-api-key==3.0.0
dotenv~=0.9.9
drf-spectacular==0.28.0
gunicorn==23.0.0
pillow==11.1.0
pipdeptree==2.25.0
psycopg==3.2.5
PyMuPDF==1.25.3
pytest-cov==6.0.0
pytest-django==4.10.0
requests==2.32.3
ruff==0.9.9
whitenoise==6.9.0

# boto3==1.35.47
# celery==5.4.0
# distro==1.9.0
# filetype==1.2.0
# hiredis==3.1.0
# humanize==4.11.0
# django-dotenv
